<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link text-light" aria-current="page" href="/">About us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/">Region</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/">Hiring</a>
  </li>
</ul>