<ul class="nav justify-content-center">
  <li class="nav-item"><%= link_to 'Log in', login_path, class: "nav-link text-secondary" %></li>
  <li class="nav-item"><%= link_to 'Register', register_path, class: "nav-link text-secondary" %></li>
<ul>