<ul>
  <li><%= link_to 'Log out', logout_path %></li>
  <li><%= link_to 'Products', products_path %></li>
  <li class="<%= @current_order.present? ? 'd-block' : 'd-none' %>" id="li-cart">
    <% if @current_order.present? %>
      <%= link_to('Cart', user_order_path(@current_user, @current_order)) %>
    <% end %>
  </li>
</ul>